.card {
    background-color: #ffffff;
    padding: 8px 8px;
}


.card__title {
    color: #2116bb;
    font-size: 14px;
}

.card__description {
    color: #282828;
    font-size: 12px;
}

.card__img-top {
    max-width: 250px;
    height: 182px;
    margin-bottom: 8px;
}

header {
    background-color: #ffffff;
    width: 100%;
    height: 56px;
}

body {
    background-color: #C4C4C4;
}

footer {
    background-color: #ffffff;
    width: 100%;
    height: 56px;
}

.main {
   display: flex;
   justify-content: center;
   align-items: center; 
}

@media (max-width: 768px) {
    .card__title {
        font-size: 12px;
    }

    .card_description {
        font-size: 8px;
    }

    .main {
        flex-wrap: wrap;
    }

}

@media (max-width: 320px) {
    .card__title {
        font-size: 12px;
    }

    .card_description {
        display: none;
    }

    .main {
        flex-direction: column;
    }
}